<button  id="check" (click)="onClickNavigateHome()"> Retour </button>
<div id="text"> <br> <br><p>La grassette est une plante qui a été découverte par un scientifique botaniste et une illustratrice photographe, il y a de cela quelques années. Cette plante possède une particularité : elle est fluorescente. Grâce à sa fluorescence, elle a réussi à survivre dans la toundra canadienne. Suite à cette découverte des scientifiques botanistes se sont intéressés à la particularité de cette plante… Après de nombreuses expériences, ils ont réussi à en extraire sa molécule, ainsi inscrire cette plante dans des enjeux écologiques majeurs.</p> </div>

<div id="text2"> <p>« Les fleurs ont évolué dans leur forme, leur couleur et leur parfum de façon à optimiser l'attraction des agents pollinisateurs. Si les fleurs sont si diversement colorées, c’est parce que les plantes ont acquis, au cours de l’évolution, des couleurs adaptées à leurs insectes pollinisateurs qui ne perçoivent pas des domaines de longueurs d’onde identiques. » </p> </div>

<div id="text3"> <p>Bernard Valeur</p></div> 

<div id="text4"><p>physicochimiste, est professeur honoraire du Conservatoire national des arts et métiers.</p> </div>