#text {
  
  color: lightseagreen;
     font-family: "Porpora";
     font-size: 110%;
}

#text2 {
  
  color: lightseagreen;
     font-family: "Porpora";
    font-size: 110%;
}
#text3 {
  
  color: lightseagreen;
     font-family: "Porpora";
     font-size: 110%;
 
}
#text4 {
  
  color: lightseagreen;
     font-family: "Porpora";
    font-style: italic;
     font-size: 110%;
 
}

#check{
    background-color: black;
  border: dashed 5px lightSeaGreen;
  color: white;
  text-align: center;
  font-size: 130%;
  cursor: pointer;
    font-family: "Porpora";
    position: absolute;
  top: 2%;
left: 2%;
    
}

@font-face {
  font-family: Porpora;
  src: url(../../assets/Porpora-Regular.ttf);
}