#check {
    background-color: black;
  border: dashed 5px lightSeaGreen;
  color: white;
  text-align: center;
  font-size: 130%;
  cursor: pointer;
    font-family: "Porpora";
    position: absolute;
  top: 2%;
left: 2%;
}

#img1 {
position: absolute;
    top: 12%;
}


#img2 {
position: absolute;
    top: 45%;


}