#check{
background-color: black;
  border: dashed 12px lightSeaGreen;
  color: white;
  text-align: center;
  cursor: pointer;
    position: absolute;
  top: 0%;
left: 0%;
    
}

#check_2{
    
background-color: black;
  border: dashed 12px lightSeaGreen;
  color: white;
  text-align: center;
  cursor: pointer;
    position: absolute;
    top :32%;
    left: 0%;

    
}

#check_3{
background-color: black;
  border: dashed 12px lightSeaGreen;
  color: white;
  text-align: center;
  cursor: pointer;
    position: absolute;
    top :63%;

    left: 0%;

    
}
